:root {
    --bg: #ffffff;
    --text: #1a1a1a;
    --accent: #666666;
    --spacing: 2rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    margin: 0;
    overflow: hidden;
    font-family: 'Inter', sans-serif;
    background-color: var(--bg);
    color: var(--text);
    line-height: 2rem;
    user-select: none;
}

main {
    height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
    outline: none;
}

a:hover {
    text-decoration: underline;
    color: var(--accent);
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100% - 15px);
    padding: 2rem 5%;
    z-index: 1;
    background-color: var(--bg);
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header ul {
    display: flex;
    gap: 2.5rem;

}

.logo a {
    font-size: 1.5rem;
    font-weight: 700;
    text-transform: uppercase;
}

nav a {
    font-size: 0.9rem;
    text-transform: lowercase;
    letter-spacing: 0.05rem;
}

section {
    height: 100vh;
    width: 100%;
    scroll-snap-align: start;
    scroll-snap-stop: always;
}

#hero {
    display: flex;
    justify-content: center;
    align-items: center;
}

#hero h1 {
    font-size: 5rem;
    letter-spacing: 0.1rem;
}

.details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 5%;
}

.details h1 {
    font-size: 2rem;
    font-weight: 600;
}

.paragraph {
    width: 100%;
    margin-top: 2rem;
    font-size: 1.2rem;
    font-weight: 500;
}

.details h2 {
    font-size: 1.2rem;
    font-weight: 600;
}

footer {
    width: 100%;
    text-align: center;
    padding: 0.5rem 0;
    background-color: var(--bg);
    color: var(--accent);
    scroll-snap-align: end;
}


@media (max-width: 768px) {
    header {
        padding: 1rem 5%;
        width: calc(100% - 5px);
    }

    header .logo a {
        font-size: 1.2rem;
    }

    header ul {
        gap: 1rem;
    }

    nav a {
        font-size: 0.8rem;
    }

    .details h1 {
        font-size: 1.5rem;
        font-weight: 600;
    }

    .details h2 {
        font-size: 1.2rem;
        font-weight: 600;
    }

    .paragraph {
        font-size: 1rem;
        font-weight: 400;
    }

}